.app-container {
  display: flex;
  margin: 10px;
}

.user-list {
  width: 70%;
  border-right: 1px solid lightgrey;
  padding: 0 20px;
  margin: 0 10px;
}

@media only screen and (max-width: 600px) {
  .app-container {
    flex-direction: column-reverse;
    align-content: center;
  }

  .user-list {
    width: 100%;
    border-right: none;

  }

  .cart-area {
    width: 100%;
    /* border-right: none; */
    border-bottom: 4px solid #333;
    padding: 0px 20px;
    margin: 0px 10px;
    align-content: center;
    justify-content: center;

  }
}